
{% extends "../base.html" %}
{% block content %}
<div class="container  p-5">
    <div class=" mx-auto shadow bg-light">
        <h2 class="alert alert-success text-center">View Application</h2>
        <div class="p-5">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Applicant</th>
                            <th>Resume</th>
                            <th>Applied for</th>
                            <th>Application Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>{{ application.job_seeker.username }}</td>
                            <td><a href="{{ application.resume.url }}" target="_blank">{{ application.resume.name }}</a></td>
                            <td>{{ application.job_post.title }}</td>
                            <td>{{ application.application_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}