
{% extends "../base.html" %}
{% block content %}
<div class="container p-5">
    <h2 class="text-center">Your Job Applications</h2>
    <hr>
    {% if user_applications %}
        <ul>
            {% for application in user_applications %}
                <li>
                    <strong>Applied for</strong>: {{ application.job_post.title }}
                    <strong>Applied on</strong>: {{ application.application_date }}
                    
                </li>
                
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't applied to any job posts yet.</p>
    {% endif %}


            <div class="row">
                {% for application in user_applications %}
                <!-- Example using a link -->
                <a href="{% url 'delete_application' application.id %}" >Delete Application</a>

                <!-- Example using a form and button -->
                <form action="{% url 'delete_application' application.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete Application</button>
                </form>
            {% endfor %}
            </div>


    <a href="{% url 'job_list' %}" class="btn btn-dark mt-2">Back to joblist</a>
</div>
{% endblock content %}
