{% extends "base.html" %}
{% block content %}
<div class="container  p-5">
    <div class=" mx-auto col-6 shadow bg-light">
        <h2 class="text-center bg-success p-3 text-white">Change Password</h2>
        {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
        {% endif %}
        <div class="p-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}