{% extends "base.html" %}
{% block content %}

<div class="row p-5">
    <h2 class="text-center">All Jobs are here!</h2>
    <hr>
    {% for job in job %}
        <div class="col-lg-4 mb-4">
            <div class="card border-0" style="background-color: #ebfafa;" >
                <div class="card-body">
                    <h4 class="card-title">{{ job.title }}</h4>
                    <hr>
                    <small>Published at: {{job.posted_at}}</small><br>
                    <small class='text-muted'>by: {{job.recruiter.company_name}}</small>
                    
                    <span class="badge bg-secondary">{{job.category}}</span>
                    <p class="card-text mt-2">{{ job.description |truncatechars:50 }}</p>
                    <div class="skills-badges">Skills:
                      
                    {% for skill in job.skill_set.all %}
                    <p class="badge bg-primary">{{ skill.title }}</p>
                    {% endfor %}>
                        
                    </div>
                    <a href="{% url 'job_details' id=job.id %}" class="btn btn-dark mt-2">View Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
   
{% endblock content %}