{% extends "base.html" %}
{% block content %}
<div class="container  p-5">
    <div class=" mx-auto col-6 shadow bg-light">
        <h2 class="alert alert-success text-center">Register form</h2>
        <div class="p-5">
            <form action="" method="POST">
                {% csrf_token%}
    
                {{form.as_p}}
                <button class="btn btn-success mt-2">Register</button>
                <p>Already have an account<a href="{% url 'login' %}">Log in</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}