{% extends "base.html" %}
{% block content %}

{% if user.user_type == 'recruiter' %}
<div class="container  p-5 mx-auto">
    <div class=" mx-auto  shadow bg-light">
        <div class="card-header  bg-primary p-2">
            <h2 class="text-center  text-white">Update Profile</h2>
          </div>
        <div class="p-5">
            <form method="post" enctype="multipart/form-data">

            {% csrf_token %} 

            {{ user_form.as_p }}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Update Profile</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% elif user.user_type == 'jobseeker' %}
<div class="container">
    <h2 class="mt-5 mb-4">Update Jobseeker Profile</h2>
    <form method="post" enctype="multipart/form-data" class="row g-3">
      {% csrf_token %}

        <!-- Left Column: CustomUser (User) Form -->
        <div class="col-md-6">
            {{ user_form.first_name.label_tag }}
            {{ user_form.first_name }}
            <br>

            {{ user_form.last_name.label_tag }}
            {{ user_form.last_name }}
            <br>

            {{ user_form.email.label_tag }}
            {{ user_form.email }}
            <br>

            {{ user_form.user_type.label_tag }}
            {{ user_form.user_type }}
        </div>

        <!-- Right Column: Jobseeker Profile Form (Skills) -->
        <div class="col-md-6">
            {{ form.skills.label_tag }}
        
            {{ form.skills }}
      
        </div>

        <!-- Common Fields: Profile Image and Resume -->
        <div class="col-md-12">
            {{ form.profile_image.label_tag }}
            {{ form.profile_image }}
          
        </div>
        <div class="col-md-12">
            {{ form.resume.label_tag }}
            {{ form.resume }}
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Update Profile</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
        </div>
        
    </form>
  </div>
  {% else %}
        <h2>Invalid User</h2>
    {% endif %}
{% endblock content %}